.modal-backdrop {
    z-index: 100000 !important;
  }

  .modal {
    z-index: 100001 !important;
  }

  input[type="text"], input[type="email"], input[type="password"], input[type="submit"], textarea {
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-right: 10px;
}

.btn {
    border-radius: 5px;
    padding: 10px 37px;
}
